@import "compass/reset";


$maroon: #990033;

#wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
}

#food, #mood {
	height: 50%;
	width: 100%;	
	//font-family: "chaparral-pro-caption",sans-serif;
	font-family: "Chaparral Pro",sans-serif;
	font-style: italic;
	font-weight: 700;
	color: white;
	font-size: 100px;
	text-align: center;
	display: table;
}

p {
	display: table-cell;
	vertical-align: middle;
}

#food {
	background-color: $maroon;
	//&:hover { background-color: lighten($maroon, 10%); }
}


#mood {
	background-color: darken($maroon, 10%);
	//&:hover { background-color: lighten($maroon, 10%); }
}